@model List<string>
@{
    ViewData["Title"] = "Home Page";
    ViewData["secondaryHeading"] = "The New Hub";
    ViewData["pageHeading"] = "ILR Processing Status";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="column-highlight">
            <h2 class="bold-medium">Status : @(Model == null ? "Processing" : "Completed")  </h2>
            <div class="text">
                <div class="column-highlight"> 
                    @if (Model == null)
                    {
                        <div>Your ILR is still being processed, thank you for your patience. Try refreshing this page after few seconds.</div>

                    }
                    else
                    {

                        foreach (var item in Model)
                        {
                            <div>@item</div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</div>

